:root {
    --main-bg-color: #ffffff;
    --nav-bg-color: #00a2ff;
    --button--bg: #c0c0c0;
    --Code--bg: #b9b9b9;
    --font-color1: black;
    --font-color2: white;
}

[data-theme="dark"] {
    --main-bg-color: #202020;
    --nav-bg-color: #181818;
    --button--bg: #000000;
    --Code--bg: #1b1b1b;
    --font-color1: white;
    --font-color2: white;
}

* {
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;
}

* a {
    color: white;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

/* Navigation Bar */
nav {
    float: left;
    min-height: 100%;
    background-color: var(--nav-bg-color);
    color: var(--font-color2);
    width: 20%;
    position: fixed;
}

nav h2 {
    text-align: center;
}

/* Content Pannel */
MD {
    float: right;
    min-height: 100%;
    width: 80%;
    background-color: var(--main-bg-color);
    color: var(--font-color1);
}

/* Theme Switch Button */
.ThemeSwitch {
    border-radius: 25px;
    border: 0;
    background: var(--button--bg);
    height: 2.7em;
    width: 2.7em;
    margin: 0.2em;
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
}

.CopyrightText {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
}

pre {
    background: var(--Code--bg);
    border-radius: 15px;
    padding: 1em;
}

.Content {
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

/* Nav Bar */
